.card {
  background: var(--dark-blue2);
  margin-top: 1rem;
  width: 100%;
  border-radius: 1rem;
  display: flex;
}

.card .card__aside {
  margin-left: 2rem;
  margin-top: 2rem;
  width: 25%;
}

.card .card__aside img {
  border-radius: 50%;
}

.card .card__article {
  width: 75%;
  padding-right: 2rem;
}

.card .card__article .card__article-header {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  width: 100%;
  margin-top: 2rem;
  margin-right: 2rem;
}

.card .card__article .card__article-header h2,
h4 {
  margin: 0;
}

.card .card__article .card__article-header h2 {
  font-weight: bold;
}

.card .card__article .card__article-header h4 {
  color: var(--dark-blue);
}

.card .card__article .card__article-header span {
  display: block;
  margin-top: 0.2rem;
}

.card .card__article p {
  font-size: 14px;
}

.card .card__article .card__article-stats {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;

  background: var(--dark-black);
}

.card .card__article .card__article-stats div {
  padding: 1rem 0;
  width: 33%;
}

.card .card__article .card__article-stats div:nth-child(1) {
  padding-left: 1.5rem;
}
