.links {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
}

.links .links__block-one,
.links .links__block-two {
  width: 50%;
}

.links .links__block-one li,
.links .links__block-two li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.links .links__block-one img,
.links .links__block-two img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.links .links__block-one span,
.links .links__block-two span {
  font-size: 16px;
  line-height: 16px;
}

.links .links__block-one .desactived,
.links .links__block-two .desactived {
  opacity: 0.5;
}

.links .links__block-one a,
.links .links__block-two a {
  text-decoration: underline;
  color: var(--light-black);
}
