---
import Card from "@components/Card.astro";
import Search from "@components/Search.astro";
import Title from "@components/Title.astro";
import Layout from "@layouts/Layout.astro";

// https://api.github.com/users/  -- api github users
---

<Layout title="devfinder">
  <main>
    <Title />
    <Search />
    <Card />
  </main>
</Layout>

<style>
  /* center card in y and x */

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 80vw;
    margin: 0 auto;
  }
</style>
