---
import Card from "@components/Card";
import Search from "@components/Search";
import Title from "@components/Title";
import Layout from "@layouts/Layout.astro";
---

<Layout title="devfinder">
  <main class="container">
    <Title client:load />
    <Search client:load />
    <Card client:load />
  </main>
</Layout>

<style>
  /* center card in y and x */

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 80vw;
    margin: 0 auto;
  }
</style>
