---
---

<ul>
  <div>
    <li>
      <img src="icons/icon-location.svg" alt="" />
      <span>San Francisco</span>
    </li>

    <li>
      <img src="icons/icon-website.svg" alt="" />
      <span>https://github.blog</span>
    </li>
  </div>
  <div>
    <li class="desactived">
      <img src="icons/icon-twitter.svg" alt="" />
      <span>Not Available</span>
    </li>

    <li>
      <img src="icons/icon-company.svg" alt="" />
      <span>@github</span>
    </li>
  </div>
</ul>

<style scoped>
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
  }

  ul > div {
    width: 50%;
  }

  li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }

  span {
    font-size: 16px;
    line-height: 16px;
  }

  .desactived {
    opacity: 0.5;
  }
</style>
