---
---

<ul>
  <li>
    <img src="icons/icon-location.svg" alt="" />
    <span>San Francisco</span>
  </li>

  <li>
    <img src="icons/icon-twitter.svg" alt="" />
    <span>Not Available</span>
  </li>

  <li>
    <img src="icons/icon-website.svg" alt="" />
    <span>https://github.blog</span>
  </li>

  <li>
    <img src="icons/icon-company.svg" alt="" />
    <span>@github</span>
  </li>
</ul>
