---
---

<section>
  <img src="/icons/icon-search.svg" alt="" />

  <input type="text" name="" placeholder="Search Github username..." />

  <span>No results</span>

  <button type="submit">Search</button>
</section>
