---
---

<header class="header">
  <h1 class="header__title">devfinder</h1>

  <div class="header__button">
    <span>DARK</span>
    <img src="/icons/icon-moon.svg" alt="dark-mode" />

    <!-- <span>LIGHT</span>
    <img src="/icons/icon-sun.svg" alt="dark-mode" /> -->
  </div>
</header>

<style>
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
  }

  .header .header__title {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .header .header__button {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .header .header__button span {
    font-size: 0.875rem;
    font-weight: 500;
    margin-right: 0.5rem;
  }

  .header .header__button img {
    width: 1.5rem;
    height: 1.5rem;
  }
</style>
