---
---

<header>
  <h1>devfinder</h1>

  <div>
    <span>DARK</span>
    <img src="/icons/icon-moon.svg" alt="dark-mode" />

    <!-- <span>LIGHT</span>
    <img src="/icons/icon-sun.svg" alt="dark-mode" /> -->
  </div>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--background);
    border-bottom: 1px solid var(--border);
    width: 100%;
  }

  header h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text);
  }

  header div {
    display: flex;
    align-items: center;
  }

  header div span {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--text);
    margin-right: 0.5rem;
  }

  header div img {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  }
</style>
